* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;  
}

.content {
    display: flex;
    height: 100vh;
}

.form {
    width: 65%;
    background: #FFF;
}

.image {
    width: 35%;
    background: #ECF0FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__size {
    height: 100vh;
}

.form--header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px 60px;
    font-size: 14px;
}

.text__left {
    margin-left: 1.4em;
}

.text__blue {
    color: #6F7DFF; 
}

.text__gray{
    color: #676F8F;
}

.form--body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 60px;
    max-width: 800px;
}

.form--body--title {
    font-size: 18px;
    color: #494F66;
    margin-bottom: 20px;
}

label {
    font-size: 28px; 
}

.text__dark {
    color: #494F66;
}

.form--body--input-group {
    display: flex;
    justify-content: column;
    min-width: 100%;
}

.form--body--input {
    margin-top: 0px;
    display: inline-block;
    min-width: 100%;
}

input[type=text] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #C5CBE0;
    width: 100% !important;
}

input[type=number] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #C5CBE0;
    width: 100% !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

::placeholder {
    color: #A3ABCC;
    opacity: 1;
}

.form--body--check {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    min-width: 100%;
}

input[type=checkbox] {
    padding: 10px;
    border: 1px solid #C5CBE0;
    margin-right: 10px;
}

.form--body--check__fontsize {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 20px;
}
